.header {
    height: 60px;
    background: #888;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70px 1fr;
    grid-gap: 10px;
}

header img {
    height: 60px;
    width: 60px;
    padding-left: 10px;
    display: inline-block;
}

.headerLogo {

}

.headerName {
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    color: #0048BA;
}




