.navbar {
    grid-area: navbar;
    height: 500px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.navbar a.active {
    color: #0048BA;
}