.avatarImg{
    width: 100px;
}

.selectedPage {
    font-weight: bold;
}

.usersPages {
    color: blue;
    margin: 3px;
    cursor: pointer;
}

.pageNav button {
    margin: 20px;
}

.users {
    margin: 10px;
}