.profileInfo {

}

.profileInfo a {
    text-decoration: none;
}

.profileAvatar {
    display: inline-block;
    /*justify-content: flex-end;*/
    float: right;
}

.profileAvatarImg {

}

.contact {
    padding-left: 10px;
}